/* --- Responsiveness --- */

@media screen and (max-width: 1800px) {
  .about-container { left: 15%; }
}


@media screen and (min-width: 1400px) {

  h1 { font-size: 60px; }
  .underline { width: 80px; height: 4px; margin-top: 15px; }

  .Landing section .landing-container { height: 300px; }
  .Landing .headings h1 { font-size: 75px; }
  .Landing .headings .names { letter-spacing: 8px; }

  .Gallery h1 { margin-top: 70px; }
  .Gallery .travel .travel-button { margin-top: 65vh; }

  .Pricing h1 { margin-top: 70px; }
  .Pricing .standard h4 { font-size: 32px; margin-top: 30px; }
  .Pricing .standard h5 { font-size: 28px; margin-top: 25px; margin-bottom: 25px; }
  .Pricing .gold h4 { font-size: 32px; margin-top: 30px; }
  .Pricing .gold h5 { font-size: 28px; margin-top: 25px; margin-bottom: 25px; }
  .Pricing .deluxe h4 { font-size: 32px; margin-top: 30px; }
  .Pricing .deluxe h5 { font-size: 28px; margin-top: 25px; margin-bottom: 25px; }
  .Pricing .package { margin: 55px 8px 0px 5px; }
  .Pricing .package ul { margin-top: 50px; }
  .Pricing .package ul li { font-size: 24px; padding: 30px 0px 30px 0px; }
  .Pricing .pricing-second-half { height: 110vh; }
  .Pricing .editing-container { margin-left: 30px; }
  .Pricing .editing-container h4 { font-size: 30px; margin-bottom: 20px; }
  .Pricing iframe {  }
  .Pricing img { height: 675px; }

  .Contact { height: 110vh; }
  .Contact h1 { margin-top: 70px; }
  .Contact .friendly-statement { font-size: 24px; margin: -10px 0 30px 0; }
  .Contact section { margin: 15px 0 20px 0; }
  .Contact .contact-boxes { padding: 0 25% 0 25%;  }
  .Contact .contact-btn { margin: 30px; }
}

@media screen and (max-width:1125px) {
  .img-wrapper { margin-left: 0; }
}

@media screen and (min-width: 991px) {
  #gallery { padding: 30px 30px 0 30px; }
}

@media screen and (min-width:768px) {
  #nextButton, #prevButton, #exitButton { font-size: 3em; }
}




















 /**/
