/* --- Default Styles --- */

html { scroll-behavior: smooth; }

body { overflow-x: hidden; font-family: 'Maven Pro', sans-serif; }

h1 { font-size: 50px; }

button {
  width: 250px;
  height: 50px;
  background-color: inherit;
  border: 2px solid white;
  font-size: 21px;
  color: white;
  font-weight: bold;
}

button:hover {
  transition: 0.3s;
  color: #6F00DE;
  background-color: rgba(255,255,255,0.8);
  border: none;
}

.h1-underline { align-items: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                }
.underline { width: 75px; height: 3px; margin-top: 10px; }
.black { background-color: #333333; }
.white { background-color: #FAFAFA; }

.modal.and.carousel {
  position: fixed;
}

/* --- Landing Page --- */

.Landing {
  background-image: url(../images/travel/travel_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  animation: backgroundslide 20s linear infinite 0s;
  animation-timing-function: ease-in-out;
  height: 100vh;
 }
 .Landing section {
   height: 100vh;
   background-color: rgba(0,0,0,0.1);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    }
.Landing section .landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 275px;
   }

.Landing .landing-logo { position: absolute; }
.Landing .landing-logo img { height: 245px; width: 100px; opacity: 0.6; }
.Landing .headings h1 {
   color: #FAFAFA;
   text-align: center;
   font-size: 70px;
   margin-top: 0;
   margin-bottom: 0;
 }
.Landing .headings .name { display: flex; justify-content: space-between; letter-spacing: 6px;  }
.Landing i { color: #FAFAFA; }
.Landing i:hover, .Landing i:active { transition: 0.3s;
color: #6F00DE; }
.Landing .continue { position: absolute; top: 90%; }


 /* --- Navbar --- */

.navbar { background-color: #FFFFFF; box-shadow: 0 8px 6px -6px black; font-size: 15px; }
.navbar img { height: 40px; width: 40px; margin-top: -10px; }

/* --- Gallery --- */

.Gallery h1 { color: #FAFAFA; margin-top: 65px; }

.Gallery .travel {
            background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../images/travel/bali_background.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 95vh;
            text-align: center;
          }
.Gallery .portraits {
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../images/portraits/solcar.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    text-align: center;
          }
.Gallery .weddings {
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../images/weddings/flowers.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    text-align: center;
        }
.Gallery .travel-button { margin-top: 55vh; }
.Gallery .portraits-button { margin-top: 80vh; }

/* --- About --- */

.About { height: 100vh; }
.about-background {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/Chris_Background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.about-container {
    position: absolute;
    left: 16%;
    width: 1550px;
  }
.about-heading { width: 33%; }
.About h1 { color: #FAFAFA; margin-top: 65px; }
.about-text {
    width: 36%;
    font-size: 20px;
    color: #F5F5F5;
    margin-top: 30px;
}
.text-overflow { width: 200%; }
.about-img {
    height: 525px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    left: 38%;
}
.background-image-one { padding: 0; margin: 0; width: 48%; height: 100%; }
.background-image-two { padding: 0; margin: 0; width: 52%; height: 100%; }
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
}


/* --- Pricing --- */
.Pricing h1 { margin-top: 65px; }
.Pricing .pricing-first-half { background-color: #EEEEEE; height: 90vh; }
.Pricing .pricing-second-half { background-color: #7851a9; height: 140vh; text-align: center; }
.Pricing .pricing-lists { margin-left: 30px; margin-right: 30px; }
.Pricing .standard h4 { font-size: 27px; margin-top: 25px; }
.Pricing .standard h5 { font-size: 24px; margin-top: 20px; margin-bottom: 20px; }
.Pricing .gold h4 { font-size: 27px; color: #A5882A; margin-top: 25px; }
.Pricing .gold h5 { font-size: 24px; margin-top: 20px; margin-bottom: 20px; color: #A5882A; }
.Pricing .deluxe h4 { font-size: 27px; color: #4B0097; margin-top: 25px; }
.Pricing .deluxe h5 { font-size: 24px; margin-top: 20px; margin-bottom: 20px; color: #4B0097; }

.Pricing .package { padding: 10px; margin: 45px 8px 0px 5px; background-color: #fff; width: 32%; text-align: center; }
.Pricing .package ul { list-style: none; padding-inline-start: 0; margin-top: 45px; }
.Pricing .package ul li { font-size: 18px;
                          padding: 20px 0px 20px 0px;
                          border-top: 1px solid #EEEEEE;
                          margin: 0 25px 0 25px;}


.Pricing .editing-container { text-align: left; margin-left: 30px; }
.Pricing .editing-container h4 { font-size: 25px; color: #FAFAFA; margin-bottom: 15px; }
.Pricing .slider-box1 { text-align: center; width: 31%; background-color: inherit; border: 2px solid #FAFAFA; margin-right: 35px; }
.Pricing .slider-box2 { text-align: center; width: 30%; background-color: inherit; border: 2px solid #FAFAFA; margin-right: 35px; }
.Pricing .slider-box3 { text-align: center; width: 30%; background-color: inherit; border: 2px solid #FAFAFA; }
.Pricing img { height: 525px; width: 95%; padding-top: 20px; padding-bottom: 20px; }

.Pricing iframe { height: 675px; width: 95%; padding-top: 20px; padding-bottom: 20px; }


/* --- Contact --- */

.Contact {  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/travel/busystreet.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 150vh;
            text-align: center;
          }
.Contact h1 { color: #fff; margin-top: 65px; }
.Contact .friendly-statement { font-size: 22px; color: #fff; margin: -10px 0 25px 0; }

.Contact section { margin: 15px 0 15px 0; }
.Contact input, .Contact textarea { background-color: rgb(225,225,225); color: #333333; }
.Contact .contact-container { margin: 40px 25px 0 25px; }
.Contact .contact-boxes { padding: 0 20% 0 20%;  }
.Contact .contact-btn { margin: 25px; font-weight: normal; }
.Contact .contact-btn:hover { font-weight: bold; }

/* --- Footer --- */
footer { text-align: center; background-color: inherit; margin-top: 25px; }
footer .info { padding: 0px 10px 50px 10px; margin: 0px 100px 0 100px; border-top: 1px solid #fff;  }
footer .info i { color: #EE82EE; }
footer h5 { font-size: 17px; color: #FAFAFA; }
footer .return { margin: 10px 0 25px 0; }
footer .return h5 { font-size: 16px; }
footer .copy { font-size: 18px; margin-top: 50px; }

@keyframes backgroundslide {
  0%, 100% {   background-image: url(../images/travel/widetemple.jpg); }
  25% {   background-image: url(../images/weddings/men.jpg); }
  50% {   background-image: url(../images/travel/pondwide.jpg); }
  75% {   background-image: url(../images/travel/treeface.jpg); }
}
/* --- Modal and Slideshow --- */

#gallery {
  padding-top: 15px;
}

.image-gallery { width: 92%; }

.img-wrapper {
  position: relative;
}
.img-wrapper img {
  width: 100%;
}

.img-wrapper img {
  margin: 0;
  height: auto;
  min-height: 400px;
  max-height: 435px;
  object-fit: contain;
  padding: 5%;
}

.img-overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
}

.img-overlay i { color: #FAFAFA;
font-size: 3em; }


#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /*Removes blue highlight*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#overlay img {
  margin: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 5%; }

#nextButton {
  color: #FAFAFA;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
}

#prevButton {
  color: #FAFAFA;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
}

#exitButton {
  color: #FAFAFA;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
  &:hover {
    opacity: 0.7;
  }
}
